body, h1, h2, h3, span, p, input {
  font-family: 'Microsoft YaHei UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

/* 用户基础信息部分 */
.user-profile-header {
  padding: 30px 0 30px 40px;
  background-color: #F0F2F5;
  border-bottom: 1px solid #D2D4D6;
  overflow: auto;
}

.user-profile-header .user-avatar img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.user-profile-header .user-avatar img:hover {
  opacity:0.5;
  cursor: pointer;
}

.user-profile-header .user-avatar img:hover {
    opacity:0.5;
    cursor: pointer;
}

.user-profile-header .user-info #user-nickname {
  font-size: 24px;
}

.user-profile-header .user-info .user-sex-male {
  font-size: 22px;
  color: #1296db;
}

.user-profile-header .user-info .user-sex-female {
  font-size: 22px;
  color: #d4237a;
}

.user-profile-header .user-info .user-account-info {
  margin: 10px 0 0 0;
  color: #6b8299;
}

/* 用户详细信息部分 */

#user-details {
  overflow: auto;
  padding: 40px 40px 20px 40px;
}

#user-details #user-details-preview .details-item {
  color: #6b8299;
}

#user-details #user-details-preview .details-item .item-title {
  margin: 0 20px 0 0;
  font-weight: 700;
}

#user-details #user-details-edit .form {
  margin: 30px 0 0 0;
}

#user-details #user-details-edit .form .field .item-title,
#user-details #user-details-edit .form .fields .field .item-title {
  margin: 0 20px 0 0;
  font-weight: 700;
  font-size: 14px;
  color: #6b8299;
}

/* 开关组 */
#switch-group {
  border-top: 1px solid #D2D4D6;
}

#switch-group .switch-item {
  overflow: auto;
}

#switch-group .switch-item .icon-tooltip {
  color: #1296db;
}

