name: MSBuild

on: [push]

env:
  # Path to the solution file relative to the root of the project.
  SOLUTION_FILE_PATH: .

  # Configuration type to build.
  # You can convert this to a build matrix if you need coverage of multiple configuration types.
  # https://docs.github.com/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
  BUILD_CONFIGURATION: Release

jobs:
  build:
    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v2

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1

    - name: Install Conan
      id: conan
      uses: turtlebrowser/get-conan@main
      with:
        version: 1.65.0

    - name: Fetch all tags
      run: git fetch --tags --prune --unshallow --force
      
    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -Bbuild -AWin32 -DCMAKE_BUILD_TYPE=${{env.BUILD_CONFIGURATION}}

    - name: Build nim-demo
      # Build your program with the given configuration
      run: cmake --build build --config ${{env.BUILD_CONFIGURATION}}

    - name: Build nim-demo installer
      run: cmake --build build --config ${{env.BUILD_CONFIGURATION}} --target installer

    - uses: actions/upload-artifact@v4
      with:
        name: PC_Demo_Setup
        path: bin/NIM_Demo_Setup*.exe
